#!/usr/bin/make -f

export DH_VERBOSE = 1

include /usr/share/dpkg/default.mk

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_VERSION_UPSTREAM

TCP_WG_ARGS = V=1

%:
	dh $@ --with dkms

override_dh_auto_install:
	$(MAKE) -C src DESTDIR=`pwd`/debian/tcp-wg-dkms DKMS_VERSION=$(DEB_VERSION_UPSTREAM) dkms-source-install

override_dh_dkms:
	dh_dkms -p tcp-wg-dkms -- src/dkms.conf
